<%= form_for @movie do |f| %>
  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
 
<%= form_for @movie, html: {multipart: true} do |f| %>
<h1>Add a movie</h1>
  <div>
    <%= f.label "title" %>
    <%= f.text_field "title" %>
  </div>
  <div>
    <%= f.label "release_date" %>
    <%= f.date_field "release_date" %>
  </div>
  <div>
    <%= f.label "director" %>
    <%= f.text_field "director" %>
  </div>
  <div>
    <%= f.label "runtime_in_minutes" %>
    <%= f.number_field "runtime_in_minutes" %>
  </div>
  <div>
    <%= f.label "poster_image" %>
    <%= f.file_field "poster" %>
  </div>
  <div>
    <%= f.label "description" %>
    <%= f.text_area "description" %>
  </div>
  <div>
    <%= f.submit "Submit" %> 
  </div>
<% end %>


